# Python Tutorial

### Resources:
- https://thenewboston.com/videos.php?cat=36
- https://www.stavros.io/tutorials/python/
- https://www.tutorialspoint.com/python/python_classes_objects.htm
- http://www.python-course.eu/lambda.php
- http://www.learnpython.org

## - Using Python's Help
**help, dir, \__doc__**

**help(< object >)** shows how the < object > works.

In [ ]:
help(5)

**dir(< object >)** shows all < object >'s method

In [ ]:
dir(5)

**\__doc__**  shows documentation string

In [7]:
abs.__doc__

'abs(number) -> number\n\nReturn the absolute value of the argument.'

## - Variable:

In [17]:
x = 5
x

5

In [18]:
x += 3
x

8

In [19]:
x *= 2
x

16

In [ ]:
x ** 2

## - Data types:

- __Lists__
- __tuples__
- __Dictionaries__

### Lists:

In [73]:
x = [1,2,3,4,5]
x

[1, 2, 3, 4, 5]

__append__

In [74]:
x.append(8)
x

[1, 2, 3, 4, 5, 8]

__extend__

In [75]:
y = [9,8,7,10,6]
x.extend(y)
x

[1, 2, 3, 4, 5, 8, 9, 8, 7, 10, 6]

__reverse__

In [76]:
x.reverse()
x

[6, 10, 7, 8, 9, 8, 5, 4, 3, 2, 1]

__sort__

In [77]:
x.sort()
x

[1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 10]

__sorted__

In [78]:
print y
y = sorted(y)
y

[9, 8, 7, 10, 6]

[6, 7, 8, 9, 10]

__insert__

In [79]:
x.insert(5,25)
x

[1, 2, 3, 4, 5, 25, 6, 7, 8, 8, 9, 10]

__pop__

In [80]:
x.pop(5)

25

In [81]:
x.remove(5)
x

[1, 2, 3, 4, 6, 7, 8, 8, 9, 10]

__Lists can be included with different types__

In [85]:
mixedList = [5, 'mary', [12,10], (5,3), {'age':22}]
mixedList

[5, 'mary', [12, 10], (5, 3), {'age': 22}]

### Tuples

In [86]:
tup = ('Hello', 'World')
tup

('Hello', 'World')

In [91]:
print tup[0]
print tup[1]

Hello
World

### Dictionaies:

In [104]:
family = {'dad':'Bob', 'Mom':'Lisa', 'Bro':'Sam'}
family

{'Bro': 'Sam', 'Mom': 'Lisa', 'dad': 'Bob'}

__Dictionary slicing__

In [106]:
print family['dad']
print family['Mom']
print family['Bro']

Bob
Lisa
Sam

__copy__

In [101]:
newFamily = family.copy()
newFamily

{'Bro': 'Sam', 'Mom': 'Lisa', 'dad': 'Bob'}

__clear__

In [99]:
newFamily.clear()
newFamily

{}

## - Flow control:
- __if__, __if elif else__
- __for__
- __switch__
- __while__

### if elif else

In [107]:
fish = 'tuna'
if fish == 'bass':
    print 'the fish is bass'
elif fish == 'tuna':
    print 'the fish is tuna'
else:
    print 'I don\'t know the fish'

the fish is tuna

In [108]:
thing = 'animal'
animal = 'cat'

if thing == 'animal':
    if animal == 'cat':
        print 'the animal is cat'
    elif animal == 'dog':
        print 'the animal is dog'
    else:
        print "I don't know the animal"
else:
    print "I don't know the thing"

the animal is cat

In [109]:
fever = 37.3
if fever > 36.5 and fever < 37.5:
    print "your fever is OK!"

your fever is OK!

### Comparison:

In [112]:
x = [1,2,3]
y = z = [1,2,3]

print str(x==y)
print str(x is y)
print str(y is z)

True
False
True

### for:

In [113]:
gl = {'bread', 'beaf', 'milk', 'fruit'}
for food in gl:
    print 'food is: ' + food

food is: beaf
food is: fruit
food is: milk
food is: bread

In [114]:
for idx , food in enumerate(gl):
    print '#%d, %s' % (idx, food)

#0, beaf
#1, fruit
#2, milk
#3, bread

In [115]:
ages = {'Dad':'72', 'Mom':66, 'Bro':39}
for item in ages:
    print item, ages[item]

Dad 72
Bro 39
Mom 66

In [116]:
x = range(10)
d = {z:z**2 for z in x if z%2 == 0}
d

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [117]:
x = xrange(7)
y = [z for z in x if z<5]
y

[0, 1, 2, 3, 4]

### while

In [118]:
n = 1
while n < 10:
    print n
    n+=1

1
2
3
4
5
6
7
8
9

__raw_input__

In [119]:
while 1:
    string = raw_input('Enter a name: ')
    if string == 'quit': break

Enter a name: hi
Enter a name: quit

## - Function:

In [129]:
def mean(x):
    m = 0
    for i in x:
        m += i
    return m/len(x)

x = [1.0,3.0,2.0,5.0,7.0,9.0]
print mean(x)

4.5

In [131]:
def sum(x=2, y=8):
    return (x+y)

print sum(2,3)
print sum(x=5)
print sum(y=10)

5
13
12

In [132]:
def list(*food):
    print food
print list('apple', 'banana', 'pitch')

('apple', 'banana', 'pitch')
None

In [135]:
def profile(**item):
    print item

profile(jimmy=12, sasy=20)

{'jimmy': 12, 'sasy': 20}

In [137]:
def listdic(**dic):
    print dic
profile = {'dad':32, 'Mom':28}
listdic(**profile)

{'dad': 32, 'Mom': 28}

In [208]:
def sum3(a,b,c):
    return (a+b+c)
tup = (2,3,5)
sum3(*tup)

10

### passing keywords to functions:

In [24]:
def math_complex(a,b, **kwargs):
    if kwargs.get('action') == 'sum':
        return a+b
    elif kwargs.get('action') == 'subtract':
        return a-b
    elif kwargs.get('action') == 'multiply':
        return a*b
    elif kwargs.get('action') == 'divide':
        return a/b

math_complex(10, 20, action='multiply')

200

# Partial Function

In [67]:
from functools import partial

In [70]:
def mul(x,y):
    return x*y

dbl5 = partial(mul, 5)
dbl5(3)

15

In [71]:
def wsums(x,y,z,w):
    return 5*x + 4*y + w*z

wsums_0 = partial(wsums, 2,5,3)
wsums_0(10)

60

# lambda, reduce, filter, map Function

### lambda:
__lambda argument_list: expression__

In [214]:
dist2 = lambda x, y: ((x-y)*(x-y))
print dist2(3,5)

4

### map:
__r = map(func, seq)__

In [221]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)
temp = (36.5, 37, 37.5,39)

C = [39.2, 36.5, 37.3, 37.8]
F = map(fahrenheit, C)
F

[102.56, 97.7, 99.14, 100.03999999999999]

In [225]:
C = [39.2, 36.5, 37.3, 37.8]
F = map(lambda t:((float(9)/5)*t + 32), C)
F

[102.56, 97.7, 99.14, 100.03999999999999]

In [227]:
R = [10, 15, 20, 30]
I = [0.1, 0.15, 0.2, 0.3]
V = map(lambda R, I:R*I, R, I)
V

[1.0, 2.25, 4.0, 9.0]

In [232]:
X = [1,2,4,5]
W = [0.5, 0.2, 0.1, 0.12]
b = [1,0,0,-1]
y = map(lambda X, W, b: W*X+b, X, W, b)
y

[1.5, 0.4, 0.4, -0.4]

### filter

In [233]:
x = xrange(15)
x_odd = filter(lambda x:x%2==0, x)
x_odd

[0, 2, 4, 6, 8, 10, 12, 14]

### reduce

In [236]:
x = [1,2,2,3,3,3,4,5,6]
y = reduce(lambda x, y:x+y, x)
y

29

In [239]:
x = [10, 15, 20, 13, 16, 25, 19]
x_max = reduce(lambda x, y: x if x>y else y, x)
x_max

25

## - Class:

In [149]:
class aspect:
    eye = 'brown'
    age = 29
    height = 177
    weight = 80
    
    def bmi(self, h, w):
        return (h-100)/w

sia = aspect()
print sia.eye
print sia.age
print sia.height
print sia.weight
print sia.bmi(190, 85.0)

brown
29
177
80
1.05882352941

### Inhertence:

In [152]:
class aspect_adv(aspect):
    skin = 'reddish'
    
sarah = aspect_adv()
print sarah.skin
print sarah.eye
print sarah.age
print sarah.height
print sarah.weight

reddish
brown
29
177
80

### Class constructor
**\__init__**

In [197]:
class employer:
    empCount = 0
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
        employer.empCount += 1
        
    def display_Count(self):
        print self.empCount
        
    def display_employer(self):
        print self.name + ' ' + str(self.salary)

Justin = employer('Justin', 2700)
Zizo = employer('ZiZo', 2900)

Justin.display_Count()
Justin.display_employer()

Zizo.display_Count()
Zizo.display_employer()

print employer.empCount

2
Justin 2700
2
ZiZo 2900
2

__add, modify and delete attribute__

In [194]:
Justin.age = 27
print Justin.age
Justin.age = 29
print Justin.age
del Justin.age

27
29

__getattr, setattr, hasattr, delattr__

In [195]:
print setattr(Justin, 'age', 31)
print getattr(Justin, 'age')
print getattr(Justin, 'name')
print getattr(Justin, 'salary')
print hasattr(Justin, 'age')
print delattr(Justin, 'age')

None
31
Justin
2700
True
None

## - File:

__open, read, write, close__

In [198]:
fob = open('./pytest.txt', 'w')
fob.write('Hey World, Hello!')
fob.close()

In [207]:
fob = open('./pytest.txt', 'r')
print str(fob.read(5))
print fob.read()
fob.close()

Hey W
orld, Hello!

# Generators

### Example1

In [2]:
import random

def randit():
    for i in range(10):
        yield random.randint(0,25)

for n in randit():
    print "Random Number is: %i" % n

Random Number is: 14
Random Number is: 4
Random Number is: 10
Random Number is: 23
Random Number is: 14
Random Number is: 23
Random Number is: 20
Random Number is: 10
Random Number is: 1
Random Number is: 23

### Example 2: Fibonachi generator

In [5]:
def fibo():
    a,b = 1,0
    while(1):
        yield a+b
        a,b = b, a+b

count = 0
for i in fibo():
    if count < 10:
        count += 1
        print "New Fibonacci Number is: %i" % i
    else: 
        break

New Fibonacci Number is: 1
New Fibonacci Number is: 1
New Fibonacci Number is: 2
New Fibonacci Number is: 3
New Fibonacci Number is: 5
New Fibonacci Number is: 8
New Fibonacci Number is: 13
New Fibonacci Number is: 21
New Fibonacci Number is: 34
New Fibonacci Number is: 55

# List Comprehension:

### Example1: extracting positive numbers from a list

In [16]:
numbers = [10, 13, -10, 4, 0, -8, 23]
newlist = [n for n in numbers if n > 0]
newlist

[10, 13, 4, 23]

### Example2: Sentence modification

In [17]:
sentence = "hello everybody in the world"
words = sentence.split()
new_words = [word for word in words if word != "the"]
print reduce(lambda a,b:a+" "+b, new_words)

hello everybody in world

# Exception Handling

# Sets

Sets are lists with no duplicate entries.

In [26]:
sentence = "My name is Eirc and my Dad's name is Bob"
set(sentence.split())

{'Bob', "Dad's", 'Eirc', 'My', 'and', 'is', 'my', 'name'}

In [39]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

### Intersection

find which members attended both events

In [40]:
print a.intersection(b)

set(['John'])

In [41]:
print b.intersection(a)

set(['John'])

### symetry_difference

find which members attended only one of the events

In [34]:
a.symmetric_difference(b)

{'Eric', 'Jake', 'Jill'}

In [35]:
b.symmetric_difference(a)

{'Eric', 'Jake', 'Jill'}

### difference

find which members attended only one event and not the other

In [36]:
a.difference(b)

{'Eric', 'Jake'}

In [37]:
b.difference(a)

{'Jill'}

### union

create a set of union of both sets

In [38]:
a.union(b)

{'Eric', 'Jake', 'Jill', 'John'}

# Serializers

## JSON

In [50]:
import json

### loads

To load Json back to data structure

In [54]:
json_string = '{"Alfred":300}'
json.loads(json_string)

{u'Alfred': 300}

### dumps

To encode a data structure to JSON

In [56]:
salary = {'Alferd':300}
json.dumps(salary)

'{"Alferd": 300}'

# Pickle

In [57]:
import pickle

In [62]:
salary = {'Alferd':300}
salary_pickle = pickle.dumps(salary)
salary_pickle

"(dp0\nS'Alferd'\np1\nI300\ns."

In [64]:
salary = pickle.loads(salary_pickle)
salary

{'Alferd': 300}

# Closures