# Pandas - Working with Sql

In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
df = pd.DataFrame({'id':[26, 42, 63],
                   'Date':pd.date_range('20170301', periods=3),
                   'Col_1':list('XYZ'),
                   'Col_2':[25.7, -12.4, 5.73],
                   'Col_3':[True, False, True]})
df = df[['id', 'Date', 'Col_1', 'Col_2', 'Col_3']]
df

   id       Date Col_1  Col_2  Col_3
0  26 2017-03-01     X  25.70   True
1  42 2017-03-02     Y -12.40  False
2  63 2017-03-03     Z   5.73   True

In [7]:
engine = create_engine('sqlite:///I:\\Python\\Pandas\\data\\sql\\data')

In [8]:
df.to_sql('data_sql', engine)

In [13]:
with engine.connect() as conn, conn.begin():
    df_sql = pd.read_sql_table('data_sql', conn)

In [14]:
df_sql

   index  id       Date Col_1  Col_2  Col_3
0      0  26 2017-03-01     X  25.70   True
1      1  42 2017-03-02     Y -12.40  False
2      2  63 2017-03-03     Z   5.73   True

In [16]:
pd.read_sql_table('data_sql', engine)

   index  id       Date Col_1  Col_2  Col_3
0      0  26 2017-03-01     X  25.70   True
1      1  42 2017-03-02     Y -12.40  False
2      2  63 2017-03-03     Z   5.73   True

In [18]:
pd.read_sql_table('data_sql', engine, index_col='id')

    index       Date Col_1  Col_2  Col_3
id
26      0 2017-03-01     X  25.70   True
42      1 2017-03-02     Y -12.40  False
63      2 2017-03-03     Z   5.73   True

In [20]:
pd.read_sql_table('data_sql', engine, columns=['Col_1', 'Col_2'])

  Col_1  Col_2
0     X  25.70
1     Y -12.40
2     Z   5.73

In [21]:
pd.read_sql_table('data_sql', engine, parse_dates=['Date'])

   index  id       Date Col_1  Col_2  Col_3
0      0  26 2017-03-01     X  25.70   True
1      1  42 2017-03-02     Y -12.40  False
2      2  63 2017-03-03     Z   5.73   True

In [22]:
pd.read_sql_table('data_sql', engine, parse_dates={'Date': '%Y-%m-%d'})

   index  id       Date Col_1  Col_2  Col_3
0      0  26 2017-03-01     X  25.70   True
1      1  42 2017-03-02     Y -12.40  False
2      2  63 2017-03-03     Z   5.73   True

In [28]:
pd.read_sql_table('data_sql', engine, parse_dates={'Date': {'format': '%Y-%m-%d %H:%M:%S'}})

   index  id       Date Col_1  Col_2  Col_3
0      0  26 2017-03-01     X  25.70   True
1      1  42 2017-03-02     Y -12.40  False
2      2  63 2017-03-03     Z   5.73   True

## Querying